.human-card {
  background-color: #f5efe7;
  display: flex;
  align-items: center;

  &-icon {
    color: #d8c4b6;
  }

  &-title {
    color: #4f709c;
  }
}

.human-card--right {
  .human-card-icon {
    color: #4f709c;
  }
}

// TODO create palette color