<div class="battle-view">
    <div *ngIf="leftStarship$ | async as leftStarship">
      <app-starship-card
        [starship]="leftStarship"
        [badgePosition]="'before'"
        [counter]="leftScore"
      ></app-starship-card>
    </div>
  
    <div *ngIf="rightStarship$ | async as rightStarship">
      <app-starship-card
        [starship]="rightStarship"
        [counter]="rightScore"
      ></app-starship-card>
    </div>
  </div>
  <div class="battle-footer">
    <button
      mat-fab
      color="warn"
      aria-label="Example icon button with a home icon"
      (click)="generateNewPlayers()"
    >
      <mat-icon>replay</mat-icon>
    </button>
    <mat-card class="battle-footer-card">
      <div *ngIf="winner$ | async as winner">
        <mat-card-content>Winner is: {{ winner.name }} based on crew score.</mat-card-content>
      </div>
    </mat-card>
  </div>
  