/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  --light-beige: #f5efe7;
  --light-orange: #d8c4b6;
  --light-blue: #4f709c;
  --dark-blue: #213555;
}
